* text=auto eol=lf

*.sh text eol=lf
*.zsh text eol=lf
*.swift text eol=lf

*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.m4a binary
*.mov binary
*.mp3 binary
*.mp4 binary
*.pdf binary
*.png binary
*.wav binary
*.webp binary
